.header-main {
    padding-top: 80px;
}

.team {
    padding-bottom: 60px;

    .member {
        overflow: hidden;
        border-radius: 4px;
        background: $white-text;
        box-shadow: -3px -3px 5px $transparente;
        animation-duration: 1s;
        animation-name: members;

        .member:hover {
            .social {
                opacity: 1;
                bottom: 15px;
            }
        }

        .member__info {
            padding: 25px 15px;
        }

        .member-img {
            position: relative;
            overflow: hidden;
        }

        .member__info--format-h4 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 18px;
            color: $grey-text;
        }

        .member__info-span {
            display: block;
            font-size: 13px;
            font-weight: 400;
            color: $white-text;
            text-decoration: underline;
        }

        .member__info--format-p {
            font-style: italic;
            font-size: 14px;
            line-height: 26px;
            color: $gris-clarito;
        }

        .social {
            position: absolute;
            left: 0;
            bottom: 30px;
            right: 0;
            opacity: 0;
            transition: ease-in-out 0.3s;
            text-align: center;

            a {
                transition: color 0.3s;
                color: $grey-text;
                margin: 0 3px;
                padding-top: 7px;
                border-radius: 4px;
                width: 36px;
                height: 36px;
                background: $yellow-text;
                display: inline-block;
                transition: ease-in-out 0.3s;
                color: $white-text;
            }

            a:hover {
                background: rgba(16, 110, 234, 0.5);
            }

            i {
                font-size: 24px;
            }
        }
    }
}

@keyframes members {
    0% {
        transform: scaleX(1.1);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.container__section-title--format {
    text-align: center;
    padding-bottom: 30px;

    p {
        margin: 15px auto 0 auto;
        font-weight: 600;
    }

    h3 {
        font-family: 'Black Ops One';
        margin: 15px 0 0 0;
        font-size: 32px;
        font-weight: 10;
        color: $grey-text;

        span {
            padding: 7px;
            color: $yellow-text;
            background: $transparente;
            border-radius: $border-radius;
        }
    }
}

/*------nosotros.html----*/
.container {

    .sumate {
        align-items: center;
        border: solid 5px $grey-shadow;
        box-shadow: $grey-shadow;
        .we-seek{
            margin: 50px 0 50px 0;
        }
        .we-seek-r{
            margin-top: 30px;
        }
        .we-offer{
            margin: 50px 0 50px 0;
        }
        .we-offer-r{
            margin-top: 30px;
        }
        .send-us {
        margin: 70px 0 50px;
        }
        .send-us-r{
            margin: 20px 0 30px 0;
        }
    }    

    .send-cv {
        padding: 15px;
        border: solid 2px $yellow-text;
        box-shadow: $grey-shadow;
        background-color: rgba(0, 0, 0, 0.3);
        color: $white-text;
        font-weight: 700;

        .enviar {
            margin-top: 15px;
        }

        .btn-outline-warning {
            margin-top: 15px;
        }
    }

    h2 {
        em {
            padding: 10px;
            color: $white-text;
            background: $transparente;
            border-radius: $border-radius;
            text-shadow: $yellow-shadow;
        }
    }
}

.form-cv {
    color: $grey-text;
    font-weight: 600;
    border: solid 1px $grey-text;
    padding: 20px;
    margin: 20px;

}

.separador {
    background-image: url(../img/separador.png);
    margin: 80px;
    margin-top: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 70px;
    padding-top: 55px;
}
.forma-parte{
    font-family: 'Black Ops One';
    font-size: 37px;
    font-weight: 500;
    text-align: center;
    color: $gris-clarito;
}
/* productos */ 
.carousel-inner {
    div {
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.container {
    #carousele {
        .carousel-inner {
            .carousel-item {
                h5 {
                    font-size: 28px;
                    color: $secundario;
                    font-weight: 700;
                }

                h2 {
                    font-size: 2rem;
                    color: $secundario;
                    font-weight: 700;
                }

                p {
                    font-size: 18px;
                    color: $primario;
                    font-weight: 500;
                }

                a {
                    font-size: 22px;
                    color: $primario;
                    font-weight: 700;
                }

                a:hover {
                    color: $secundario;
                    font-weight: 800;
                }

                .carousel-caption {
                    background-color: rgba($color: #000000, $alpha: .4);
                    border-radius: $border-radius;
                }
            }
        }
    }
    .subtitulo-productos{
        font-family: $marca;
        text-align: center;
        font-size: 28px;
        span{
            padding: 5px;
            color: rgba($color: #ffffff, $alpha: 0.7);
            background: $transparente;
            border-radius: 20px;
        }
    }
}
/*maquinas*/
.text-center{
    margin: 10px;
    font-family: $marca;
    font-size: 28px;
    span{
        padding: 4px;
        color: $yellow-text;
        background: $transparente;
        border-radius: $border-radius;
    }
}

.contenedor-seccion{
    .row{
        margin-top: 10px;
    }
}
.text-h2{
    margin-top: 80px;
    font-family: $marca;
    font-size: 35px;
}

.p-maquinas{
    background-color: $transparente;
    color: $primario;
    letter-spacing: 1.5pt;    
    word-spacing: 2pt;       
    line-height: 15pt;         
    font-weight: 600;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0 30px 0;
    margin: 15px;
    @media (max-width: 700px){
        width: 90%;
        height: auto;
    }
}
.video-maquina{
    @media (max-width:576px){
        width: 350px;
        height: 300px;}
    @media (max-width: 700px){
        width: 400px;
        height: 300px;
    }
}
/*404*/
.sinbg{
        background-image: linear-gradient(to right, $grey-text, $gris-clarito, $primario);
    .error404{
        background-image: url(../img/404.png);
        box-shadow: 12px 29px 81px 0px rgba(0,0,0,0.5);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        width: 100%;
        padding-top: 150px;
        padding-left: 200px;
        h1{
            color: $primario;
            width: 100px;
            opacity: .2;
            font-size: 40px;
            font-family: 'Black Ops One' ;
            text-align: start;
            background-color: rgba(104, 102, 102, 0.7);
        }
        a{
            color: $secundario;
            opacity: .5;
            font-size: 40px;
            font-family: 'Black Ops One' ;
            align-items: stretch;
            background-color: rgba(104, 102, 102, 0.7);
            margin-right: 50%;
            margin-top: 50%;
        }
    }
}
@media (max-width:576px){
    .error404{
        width: 400px;
        padding: 0px;
        h1{
            padding: 0;
            text-align: start;
            font-size: 20px;
        }
        a{
            padding: 0;
            text-align: start;
            font-size: 20px;
            margin: 0px;
        }
    }
}
.icono-video{
    background-color: $primario;
    a{
        i{
            color: $gris-clarito;
            font-size: 25px;
        }
        i:hover{
            color:$secundario;
        }
    }
}
.foto-video:hover{
    border: 2px solid $secundario;
    box-shadow: 0 0px 25px $primario;
    cursor:zoom-in;
}
.foto-video{
    border-radius: 10px;
}

