* {
    list-style: none;
}

body {
    background-image: url(../img/back4.jfif);
    min-height: 100vh;
    font-family: "Open Sans", sans-serif;
    color: $grey-text;
    a:hover {
        color: $yellow-link;
        text-decoration: none;
        font-weight: 500;
    }
}
