.header {
    min-height: 80vh;
    color: $white-text;

    .row {
        margin-top: 10%;
        width: 100%;

        h1 {
            font-family: 'Black Ops One', cursive;
            font-size: 120px;
            font-weight: 900;
            text-shadow: $grey-shadow;

            span {
                padding: 10px;
                color: $grey-text;
                background: $transparente;
                border-radius: $border-radius;
                text-shadow: $yellow-shadow;
            }
        }

        h2 {
            font-family: 'Libre Barcode 128 Text', cursive;
            font-size: 75px;
            text-shadow: $grey-shadow;
            font-weight: 500;

            span {
                color: $grey-text;
            }
        }

        .navbar {
            .nav-link {
                margin-right: 20px;
                padding: 5px;
            }
        }
    }
}